{
  "name": "{{name}}",
  "module": "src/host/index.ts",
  "type": "module",
  "private": true,
  "devDependencies": {
    "@types/bun": "latest",
    "butter": "latest"
  },
  "scripts": {
    "dev": "butter dev",
    "build": "butter compile"
  }
}
