{
  "name": "{{name}}",
  "module": "src/host/index.ts",
  "type": "module",
  "private": true,
  "dependencies": {
    "butter": "npm:butterframework@latest",
    "react": "^19.0.0",
    "react-dom": "^19.0.0"
  },
  "devDependencies": {
    "@types/bun": "latest",
    "@types/react": "^19.0.0",
    "@types/react-dom": "^19.0.0"
  },
  "scripts": {
    "dev": "butter dev",
    "build": "butter compile",
    "bundle": "butter bundle"
  }
}
